@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
    margin-left: 20px;
}
/* completa tu codigo aqui */
li:nth-of-type(1){background: lightblue;color:lightblue;}
li:nth-child(2){background: aqua;color: aqua;}
li:nth-child(3){background: orange;color: orange;}
li:nth-child(4){background: pink;color: pink;}
nav,ul{
    display: table;
    width: 100px;
    height: 100px;
}
li {
    list-style: none;
    width: 100px;
    height: 100px;
}
a,span{
    display: table-cell;
    width: 100px;
    height: 100px;  
    vertical-align: middle;
    background: rgba(0,0,0,0);
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    padding-left: 100px;   
}

a:hover span {
    background: black;
    color: inherit;   
}

